<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.dong4j.zeka.stack.api.auth.dao.UserAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="UserAccountResultMap" type="dev.dong4j.zeka.stack.api.auth.entity.po.UserAccount">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="github_id" property="githubId"/>
        <result column="github_login" property="githubLogin"/>
        <result column="github_name" property="githubName"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="email" property="email"/>
        <result column="role" property="role"/>
        <result column="device_id" property="deviceId"/>
        <result column="last_login_time" property="lastLoginTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="all_field">
        a.id,
        a.`github_id`,
        a.`github_login`,
        a.`github_name`,
        a.`avatar_url`,
        a.`email`,
        a.`role`,
        a.`device_id`,
        a.`last_login_time`
    </sql>

    <sql id="date_query">
        <if test="query.startTime != null">
            <![CDATA[
                and a.create_time >= #{query.startTime}
            ]]>
        </if>
        <if test="query.endTime != null">
            <![CDATA[
                and a.create_time < #{query.endTime}
            ]]>
        </if>
    </sql>

    <select id="page" resultType="dev.dong4j.zeka.stack.api.auth.entity.dto.UserAccountDTO"
            parameterType="dev.dong4j.zeka.stack.api.auth.entity.form.UserAccountQuery">
        select
        <include refid="all_field"/>
        from user_account as a
        <where>
            and a.deleted = 0
            <include refid="date_query"/>
        </where>
    </select>
</mapper>
